.Loading {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 90%;
  margin-left: -330px;
  margin-top: -70px;
}

.load-card{
  height: 400px;
}

.dog-image{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
  border: solid 3px black;
}
.edit-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}